*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
key.jks
key_base64.txt
/app/.project
.kotlin/
__pycache__/
*.pyc
generate_icon.py
primewa_icon*.png
Admob.md
